<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo-white.png" width="112" height="28">
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>
      <a [routerLink]="['/products']" class="navbar-item">
        Products
      </a>
    </div>
    <div class="navbar-end">
      <a class="navbar-item">
        <div class="buttons">
          <button [routerLink]="['/login']" class="button is-warning">Login</button>
        </div>
      </a>
    </div>
  </div>

</nav>