<div class="columns is-multiline" style="margin: 20px 0px 20px 0px;">
  <div class="column is-one-quarter" *ngFor="let product of products">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img [src]="product.photoSource" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{product.id}}</p>
            <p class="subtitle is-6">{{product.name}}</p>
          </div>
        </div>

        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Phasellus nec iaculis mauris. <a>@bulmaio</a>.
          <a href="#">#css</a> <a href="#">#responsive</a>
          <br>
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
      </div>
    </div>
  </div>
</div>
