<div class="columns is-multiline" style="margin: 20px 0px 20px 0px;">
  <div class="column is-one-quarter" *ngFor="let product of products">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img [src]="product.photoSource" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{product.id}}</p>
            <p class="subtitle is-6">{{product.name}}</p>
          </div>
        </div>

        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Phasellus nec iaculis mauris.
          <br><br>
          <div class="buttons">
            <button class="button is-text has-text-black">{{product.inventory}}</button>
            <button (click)="onClickedButton($event,product.id)" class="button is-primary">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>